<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CategoryService" sendTimeout="00:05:00" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7741/NorthwindServices/CategoryServices/CategoryService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CategoryService"
          contract="NorthwindContracts.ServiceContracts.ICategoryService" name="WSHttpBinding_CategoryService">
        <identity>
          <userPrincipalName value="ASUS\HOANG" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>