<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="NorthwindServices.ProductServices.ProductService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:7741/NorthwindServices/ProductServices/ProductService" />
          </baseAddresses>
        </host>        
        <endpoint address = "" binding="wsHttpBinding" contract="NorthwindContracts.ServiceContracts.IProductService"
                  bindingNamespace ="http://northwind.com/productservice" >               
        </endpoint>        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="NorthwindServices.CategoryServices.CategoryService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:7741/NorthwindServices/CategoryServices/CategoryService" />
          </baseAddresses>
        </host>
        <endpoint address = "" binding="wsHttpBinding" contract="NorthwindContracts.ServiceContracts.ICategoryService"
                  bindingNamespace ="http://northwind.com/categoryservice" >
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>          
          <serviceMetadata httpGetEnabled="True"/>          
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
